@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  
  --shadow-ambient: 0 4px 20px -4px rgba(0, 0, 0, 0.05);
  --shadow-ambient-lg: 0 8px 32px -4px rgba(14, 165, 233, 0.25);
}

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
